---
import Layout from '../layouts/Layout.astro';
import Works from '../sections/Works.astro';
import About from '../sections/About.astro'
import Technologies from '../sections/Technologies.astro';
import Certifications from '../sections/Certifications.astro';
import Archievements from '../sections/Archievements.astro';
import Networks from '../sections/Networks.astro';
import Aditionals from '../sections/Aditionals.astro';
---

<Layout title="Juanppdev | Portfolio">
	<main class=" mt-28">

		<About/>
		<Technologies/>
		<Works/>
		<Certifications/>
		<Archievements/>
		<Networks/>
		<Aditionals/>

	  
	</main>
</Layout>