---
import Layout from '../layouts/Layout.astro';
import Works from '../sections/Works.astro';
import About from '../sections/About.astro'
import Technologies from '../sections/Technologies.astro';
---

<Layout title="Juanppdev | Portfolio">
	<main class=" mt-28">

		<About/>
		<Technologies/>
		<Works/>
	  
	</main>
</Layout>