---
import { MdDeveloperMode, MdGames } from 'react-icons/md';
import { BsFillCameraFill } from 'react-icons/bs';
---

<section class="bg-[#238b44]">
    <div class="mx-auto text-center pb-72 pr-[72px] pl-[72px] pt-36">
        <h1 class="mb-6 text-3xl text-white font-extrabold">Hola, Soy Juan Pablo. Encantado de conocerl@</h1>
        <h2 class=" px-0 md:px-80 leading-6 text-white text-2xl font-normal">Desde que he conocido la programacion, cada dia me va encantando mas, voy tomando nuevas habilidades pero todavia me falta camino por recorrer. Soy autodidacta y me gusta aprender por cuenta propia, y poder asi crear nuevos proyectos a futuro.</h2>
    </div>
</section>