---
import { MdDeveloperMode, MdGames } from 'react-icons/md';
import { BsFillCameraFill } from 'react-icons/bs';
---

<div class="w-screen">
  <div class="py-4">
    <h1 class="text-center text-2xl font-bold">Sobre mí</h1>
    <p class="p-1 m-2">Hola, Mi nombre es Juan Pablo Patino Lopez, Desarrollador FullSatack, interesado en todo el mundo de la programacion y tecnologia. Aprendiendo por mi propia.</p>
  </div>
  <div class="flex flex-col md:flex-row p-2">
    <div class="w-full md:w-1/2 p-4">
      <h1 class="text-center text-3xl mx-auto">Datos Personales</h1>
      <ul class="w-full flex flex-col mt-5">
        <div class="flex justify-between">
          <li class="w-full px-4 py-2">Telefono</li>
          <h3>+4917625563008</h3>
        </div>
        <div class="flex justify-between">
          <li class="w-full px-4 py-2">Email</li>
          <h3>juanpablopl72009@gmail.com</h3>
        </div>
        <div class="flex justify-between">
          <li class="w-full px-4 py-2">Direccion</li>
          <h3>Confidencial</h3>
        </div>
      </ul>
    </div>
    <div class="w-full md:w-1/2 p-4">
            
      <h1 class="text-center text-3xl mx-auto">Intereses</h1>
      <div class="flex flex-wrap mt-5 justify-center gap-2">
        <div class="flex flex-col border-2 border-white p-1 items-center rounded bg-gray-400">
          <MdDeveloperMode color="black" size="3rem"/>
          <span class="mt-2">Programming</span>
        </div>
        <div class="flex flex-col border-2 border-white p-1 items-center rounded bg-gray-400">
          <BsFillCameraFill color="black" size="3rem"/>
          <span class="mt-2">Fotografia</span>
        </div>
        <div class="flex flex-col border-2 border-white p-1 items-center rounded bg-gray-400">
          <MdGames color="black" size="3rem"/>
          <span class="mt-2">Videogames</span>
        </div>
      </div>
    </div>
  </div>
</div>