---
const { icon, text } = Astro.props
---



    <div class="max-w-xsm m-1 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center p-5">
            <i class=`fa-brands fa-${icon} fa-2xl`></i>
            <h1 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{text}</h1>
        </div>
    </div>
