---

---

<section>
    <div class="flex justify-center md:flex-nowrap flex-wrap mt-[-14rem]">
        
    <div class="w-full max-w-lg h-[800px] py-[50px] px-[30px] bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <span class="mx-auto h-20 w-20 rounded-full bg-orange-400 flex items-center justify-center">
            <i class="fa-solid fa-laptop-code h-8"></i>
        </span>        
        <h1 class="mb-4 mt-6 text-2xl text-center font-extrabold text-gray-500 dark:text-gray-400">Programas</h1>
        <div class="text-gray-900 dark:text-white">
            <p class="align-middle text-center text-lg mb-9">Me gusta usar diferentes programas y experimentar con cual me quedo y poder seguir trabajando en mis proyectos.</p>
            <p class="mt-12 mb-2 text-center font-semibold text-[#238b44]">Programas que uso:</p>
            <ul class="text-lg text-center font-medium text-gray-900 bg-white dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li class="w-full px-4 py-2">Visual Studio Code</li>
                <li class="w-full px-4 py-2">Google Chrome</li>
                <li class="w-full px-4 py-2">Figma</li>
                <li class="w-full px-4 py-2">Photoshop</li>
            </ul>
        </div>
    </div>

        
    <div class="w-full max-w-lg h-[800px] py-[50px] px-[30px] bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <span class="mx-auto h-20 w-20 rounded-full bg-orange-400 flex items-center justify-center">
            <i class="fa-solid fa-laptop-code h-8"></i>
        </span>        
        <h1 class="mb-4 mt-6 text-2xl text-center font-extrabold text-gray-500 dark:text-gray-400">Desarrollador Front-end y Backend</h1>
        <div class="text-gray-900 dark:text-white">
            <p class="align-middle text-center text-lg mb-9">Me gusta codificar, crear y disenar cosas desde cero, ademas quiero que el cliente este satisfecho con el producto.</p>
            <p class="mt-12 mb-2 text-center font-semibold text-[#238b44]">Lenguajes que uso habitualmente:</p>
            <ul class="text-lg text-center font-medium text-gray-900 bg-white dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li class="w-full px-4 py-2">HTML, CSS, JAVASCRIPT</li>
                <li class="w-full px-4 py-2">PYTHON</li>
                <li class="w-full px-4 py-2">GIT</li>
                <li class="w-full px-4 py-2">SQL</li>
            </ul>
            <p class="mt-12 mb-2 text-center font-semibold text-[#238b44]">Herramientas de desarrollo:</p>
            <ul class="text-lg text-center font-medium text-gray-900 bg-white dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li class="w-full px-4 py-2">Github</li>
                <li class="w-full px-4 py-2">Linea de comandos (cmd)</li>
                <li class="w-full px-4 py-2">Vercel</li>
                <li class="w-full px-4 py-2">Replit</li>
            </ul>
        </div>
    </div>

        
    <div class="w-full max-w-lg h-[800px] py-[50px] px-[30px] bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <span class="mx-auto h-20 w-20 rounded-full bg-orange-400 flex items-center justify-center">
            <i class="fa-solid fa-microchip h-8"></i>
        </span>    
        <h1 class="mb-4 mt-6 text-2xl text-center font-extrabold text-gray-500 dark:text-gray-400">Frameworks</h1>
        <div class="text-gray-900 dark:text-white">
            <p class="align-middle text-center text-lg mb-9">Habitaulmente uso diferentes frameworks y experimento para un buen entorno de desarrollo y un buen diseno UX.</p>
            <p class="mt-12 mb-2 text-center font-semibold text-[#238b44]">Frameworks que uso:</p>
            <ul class="text-lg text-center font-medium text-gray-900 bg-white dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li class="w-full px-4 py-2">Bootstrap</li>
                <li class="w-full px-4 py-2">Tailwind</li>
                <li class="w-full px-4 py-2">Modulos NPM</li>
                <li class="w-full px-4 py-2">Font awesome</li>
            </ul>
        </div>
    </div>

      </div>
</section>