---
import Buttons  from '../components/Buttons.astro';
---

<section id="about" class="w-8/12 p-0 md:p-10 mx-auto my-5 grid lg:grid-cols-2 xsm:grid-cols-1 gap-1">
    <div class="flex justify-center">
        
        <img class="h-auto w-full rounded-2xl mx-auto" src="img/Perfil.jpg" alt="image description">

    </div>
    <div class="p-1">
        <h1 class="text-4xl font-bold">Hola, Mi nombre es Juan Pablo Patiño Lopez</h1>
        <p class="my-4">
            A los 25 años, seguro se preguntan cómo llegué a interesarme por la programación. Bueno, un día mientras estaba en casa, curioseando por la web, me topé con Platzi, una plataforma de aprendizaje de programación. Desde entonces, quedé fascinado por este mundo en constante evolución. Cada día me sumerjo más en él, explorando nuevas tecnologías y conceptos.
        </p>
        <p class="my-4">
            Inicialmente, me enfoqué en la creación de páginas web, pero con el tiempo he ampliado mis horizontes, explorando diferentes lenguajes y disciplinas. Aunque disfruto del aprendizaje autodidacta, también considero la posibilidad de asistir a la universidad para obtener certificaciones formales.
        </p>
        <p class="my-4">
            Mi aspiración es trabajar ya sea para una empresa o como autónomo, como freelancer, mejorando mis habilidades cada día en un campo que me apasiona. Estoy emocionado por lo que el futuro me depara en esta industria en constante cambio y crecimiento.
        </p>

        <!-- <p class="my-4">
            Tengo 25 años, se preguntarán como conocí la programación?, pues bueno, un dia estaba en mi casa y no se, estaba buscando cosas y me tope con una web de programacón en aquel entonces, y fue Platzi, y desde ahi me empezó a gustar este mundo, cada dia me gusta y voy aprendiendo de nuevas cosas.
        </p>
        <p class="my-2">
            Al principio me dedicaba/aprendia a la creaón de páginas web, pero hoy en dia sigo aprendiendo de nuevas cosas y nuevos lenguajes, me gusta aprender por mi cuenta propia pero estoy interesado en ir a una Universidad y poder tener algún certificado en si.
        </p>
        <p class="my-2">
            Espero alguún dia trabajar para alguien o para mi mismo, siendo Freelance y poder ser mejor cada dia en un lugar que a mi me gusta y me apasiona.
        </p> -->
        <div class="flex flex-row m-2 gap-2">
            <i class="fa-regular fa-location-dot"></i>  
            <h3 class=" font-extrabold">Stade, Alemania</h3>
        </div>
        <div class="flex flex-wrap m-2">
            <Buttons url="/Lebenslauf.pdf" text="CV" pdf="CvJuanPablo"/>
            <Buttons url="mailto:juanppdev@gmail.com" text="Email"/>
        </div>
    </div>
</section>