---
import Buttons  from '../components/Buttons.astro';
---

<section id="about" class="w-8/12 p-0 md:p-10 mx-auto my-5 grid lg:grid-cols-2 xsm:grid-cols-1 gap-1">
    <div class="flex justify-center">
        
        <img class="h-auto w-full mx-auto" src="img/img.jpg" alt="image description">

    </div>
    <div class="p-1">
        <h1 class="text-4xl font-bold">Hola, Mi nombre es Juan Pablo Patiño Lopez</h1>
        <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et imperdiet augue, eget blandit turpis. Vestibulum a rhoncus justo. Ut commodo, tortor sed posuere mattis, odio ligula mattis nisi, ut iaculis sem odio non nisl. Praesent id odio quis sapien faucibus mollis. In vel neque sit amet neque venenatis tincidunt. Ut elit enim, mollis sit amet congue sed, fermentum scelerisque elit. Suspendisse vel tincidunt nulla. Phasellus vulputate vel nulla a tincidunt. Quisque pretium lobortis diam nec congue. Etiam at nunc varius, sollicitudin lorem eget, ultricies orci. Aliquam consectetur ipsum in leo blandit, at interdum nulla aliquet.</p>
        <div class="flex flex-wrap m-2">
            <Buttons url="https://google.com" text="boton 1"/>
            <Buttons text="boton 1"/>
            <Buttons text="boton 1"/>
            <Buttons text="boton 1"/>
            <Buttons text="boton 1"/>
            <Buttons text="boton 1"/>
        </div>
    </div>
</section>