---
import Buttons  from '../components/Buttons.astro';
---

<section id="about" class="w-8/12 p-0 md:p-5 mx-auto my-5 grid lg:grid-cols-2 xsm:grid-cols-1 gap-1">
    <div class="flex justify-center place-items-center">
        
        <img class=" h-96 w-96 rounded-2xl mx-auto" src="img/Perfil.jpg" alt="image description">

    </div>
    <div class="p-1">
        <h1 class="text-xl font-bold">Hola, Mi nombre es Juan Pablo Patiño Lopez</h1>
        <p class="my-2">
            A los 25 años, descubrí mi pasión por la programación a través de la plataforma de aprendizaje Platzi mientras navegaba por la web. Desde entonces, me he inmerso en este mundo en constante evolución, explorando nuevas tecnologías y conceptos diariamente. Aunque mi enfoque inicial fue en la creación de páginas web, he ampliado mis horizontes explorando diferentes lenguajes y disciplinas.
        </p>
        <div class="flex flex-row m-2 gap-2">
            <i class="fa-regular fa-location-dot"></i>  
            <h3 class=" font-extrabold">Stade, Alemania</h3>
        </div>
        <div class="flex flex-wrap m-2">
            <Buttons url="/Lebenslauf.pdf" text="CV" pdf="CvJuanPablo"/>
            <Buttons url="mailto:juanppdev@gmail.com" text="Email"/>
        </div>
    </div>
</section>