---

---

<section id="aditionals" class="w-8/12 p-0 mx-auto mb-5 flex items-center flex-col">
    <h1 class="text-4xl font-bold text-left py-6">Información Adicional</h1>
      <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xsm:grid-cols-1 sm:grid-cols-1 gap-4">
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm w-full" data-v0-t="card">
          <div class="p-6 flex items-center space-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="text-gray-500"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" x2="22" y1="12" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
            </svg>
            <div>
              <div class="font-medium">Blog</div>
              <a class="text-sm text-gray-600" href="https://blog-mundocode.vercel.app">
                blog-mundocode.vercel.app
              </a>
            </div>
          </div>
        </div>

        <div class="rounded-lg border bg-card text-card-foreground shadow-sm w-full" data-v0-t="card">
            <div class="p-6 flex items-center space-x-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-gray-500"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="2" x2="22" y1="12" y2="12"></line>
                <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
              </svg>
              <div>
                <div class="font-medium">Contacto</div>
                <a class="text-sm text-gray-600" href="mailto:juanppdev@gmail.com">
                  juanppdev@gmail.com
                </a>
              </div>
            </div>
          </div>
      </div>
  </section>