---
import Card from  '../components/Card.astro';
---

<section class="w-8/12 p-0 mx-auto mb-5 flex flex-col">
    <h1 class="text-4xl font-bold text-center py-6">Tecnologias</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-7">
        <Card icon="vuejs" text="Vue"/>
        <Card icon="react" text="React"/>
        <Card icon="vuejs" text="Vue"/>
        <Card icon="react" text="React"/>
        <Card icon="vuejs" text="Vue"/>
        <Card icon="react" text="React"/>
        <Card icon="vuejs" text="Vue"/>
        <Card icon="react" text="React"/>
        <Card icon="vuejs" text="Vue"/>
        <Card icon="react" text="React"/>

    </div>
</section>